<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

</head>

<body>
    <% include ../partials/nav.ejs %>
    <!--  -->
    <div class="container">
        <div class="alert alert-info text-center" role="alert">
            To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started with Node on Heroku</a> tutorial.
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-dark">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Contenu</th>
                            <th scope="col">type</th>
                            <th scope="col">Date</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <% resultats.forEach(function(item) { %>
                        <tbody>
                            <tr>
                                <th scope="row"><%= item.id %></th>
                                <td><%= item.nomNouvel %></td>
                                <td><%= item.contenu %></td>
                                <td><%= item.type %></td>
                                <td><%= item.date %></td>
                                <td><a href="/news/<%= item.id %>" class="btn btn-danger" >Supprimer</a><a href="/update/<%= item.id %>" class="btn btn-warning">Modifier</a></td>
                            </tr>
                        </tbody>
                    <% }); %>
                </table>
            </div>
           
  </body>
</html>